body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 500px;
  height: 100vh;
  margin: auto;
  padding: 25px 0;
  /* background: red; */
}

.app .input-box {
  position: relative;
  overflow: hidden;
}

.app .input-box img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  cursor: pointer;
  width: 30px;
}

.app .input-box input {
  width: 97%;
  border: 2px solid #13aa52;
  border-radius: 5px;
  padding: 10px 0 10px 10px;
  font-size: 16px;
}

.app .input-box .tooltip {
  position: absolute;
  bottom: 6px;
  right: 0;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.app .input-box .tooltip.show {
  bottom: 8px;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

button {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(0px);
}

@media (min-width: 768px) {
  button {
    padding: 10px 30px;
  }
}
